#NEED to work out how to compile
#with imports

#imports

#currently library loaded
#so user/examples accessible
#googleMaps and handler examples are issue if this changes

##import(grid)
##import(lattice)
##import(RColorBrewer)


#googleMap

export(googleMap) 
export(quickMap) 
export(makeMapArg)
export(getMapArg)
export(panel.googleMapsRaster) 
export(panel.googleMaps)
export(xscale.components.googleMaps)
export(yscale.components.googleMaps)
export(axis.components.googleMaps)

#trianglePlot

export(trianglePlot) 
export(panel.triangleFrame) 
export(panel.triangleAxes) 
export(panel.triangleGrids) 
export(triABC2XY)
export(triXY2ABC)


#plot.argument.handlers
export(cexHandler)
export(colHandler)
export(zHandler)


#panel.handlers
export(panelPal)
export(getArgs)
export(getPlotArgs)
export(isGood4LOA)

#scales.handlers
export(localScalesHandler)
export(panel.localScale)

#plot.interactives

export(getXY)
export(getLatLon)

#misc
export(geoFrame)
export(geoBearing)
export(geoDistance)
export(geoElevation)
export(geoDestination)

#workhorses
export(listHandler)
export(listUpdate)
export(listExpand)


