#NEED to work out how to compile
#with imports

#imports

#currently library loaded
#so user/examples accessible
#googleMaps and handler examples are issue if this changes


#imports

#seem to 
#need this as well as 
#lattice in depends

import(lattice)

import(grid)
import(png)
import(RgoogleMaps)
#import(OpenStreetMap)
import(RColorBrewer)
import(mgcv)
import(plyr)

#single imports

importFrom(MASS, kde2d) #for panel.kernelDensity

#below because conflict between sp and graphics... 

importFrom(sp, "coordinates", "proj4string", "CRS", "spTransform")

#next lot are because win builder told me too..

importFrom("grDevices", "col2rgb", "colorRampPalette", "gray", "grey",
           "rgb", "as.raster")
importFrom("graphics", "par", "plot")
importFrom("methods", "is")
importFrom("stats", "aggregate", "as.formula", "loess", "na.omit",
           "predict", "update", "model.frame", "coef", "lm")
importFrom("utils", "compareVersion", "modifyList",
           "packageDescription")



#loaPlot

export(loaPlot)
export(panel.loaPlot)
export(panel.loaPlot2)
export(panel.loaGrid)


#loaMapPlot 

export(loaMapPlot)
export(RgoogleMapsPlot)
#export(OpenStreetMapPlot)
export(GoogleMap)
export(googleMap) 
#export(quickMap)
#export(getOSMapArg)
export(getRGMapArg)
export(loaMapArg)
export(makeMapArg)
export(getMapArg)
export(LatLon2MercatorXY)
export(MercatorXY2LatLon)
export(panel.loaBGMapPlotRaster) 
export(panel.loaBGMapPlot)
export(xscale.components.loaMap)
export(yscale.components.loaMap)
export(axis.components.loaMap)

#trianglePlot

export(trianglePlot) 
export(panel.trianglePlot)
export(panel.triangleByGroupPolygon)
export(panel.trianglePlotFrame)
export(panel.trianglePlotGrid)
export(panel.trianglePlotAxes)
export(panel.triangleKernelDensity)
export(panel.triangleSurfaceSmooth)
export(triLimsReset)
export(triABC2XY)
export(triXY2ABC)
export(triABCSquareGrid)

#superceded functions
##export(trianglePlot) 
##export(panel.triangleFrame) 
##export(panel.triangleAxes) 
##export(panel.triangleGrids) 
##export(triABC2XY)
##export(triXY2ABC)

#stackPlot
export(stackPlot) 
export(panel.stackPlot)

#loaBarPlot
export(loaBarPlot) 


#special panels
export(panel.loaLevelPlot)
export(panel.surfaceSmooth)
export(panel.kernelDensity)
export(panel.binPlot)

#polarPlots
export(panel.polarPlot)
export(panel.polarFrame)
export(panel.polarAxes)
export(panel.polarGrid)
export(panel.polarLabels)

#zcase glyph plot
export(panel.zcasePiePlot)
export(panel.zcasePieSegmentPlot)

#other plot panels
export(panel.compareZcases)


#formulas
export(formulaHandler)
export(matrixHandler)
export(stripHandler)

#plot.argument.handlers
export(scalesHandler)
export(cexHandler)
export(colHandler)
export(colRegionsHandler)
export(pchHandler)
export(zHandler)

#conditioning
export(groupsPanelHandler)
export(zcasesPanelHandler)
export(groupsAndZcasesPanelHandler)
export(condsPanelHandler)
export(groupsHandler)
export(zcasesHandler)
export(groupsAndZcasesHandler)
export(stepwiseZcasesGlyphHandler)

#list.handlers
export(listHandler)
export(listUpdate)
export(listExpand)
export(listLoad)

#scales.handlers
export(limsHandler)
export(localScalesHandler)
export(panel.localScale)
export(yscale.component.log10)
export(xscale.component.log10)

#panel.pal
export(panelPal.old)
export(panelPal)
export(loaHandler)

#other.panel.pandlers
export(getArgs)
export(getPlotArgs)
export(isGood4LOA)
export(parHandler)

#keys
export(keyHandler)
export(draw.loaPlotZKey)
export(draw.loaColorKey)
export(draw.loaColorRegionsKey)
export(draw.zcasePlotKey)
export(draw.ycasePlotKey)
export(draw.groupPlotKey)
export(draw.key.log10)

#loa.shapes/glyphs
export(loaPolygon)
export(loaCircle)
export(loaPieSegment)


#plot.interactives
export(getXY)
export(getLatLon)

#export(screenLatticePlot)


#misc
##now in grey.area
#export(geoFrame)
#export(geoBearing)
#export(geoDistance)
#export(geoElevation)
#export(geoDestination)

#add

export(add_loaPanel)

export(addXYLMFit)
export(addXYLOESSFit) 
export(addXYFit_prep)
export(loaXYFit_lm)
export(loaXYFit_loess)
export(panel.loaXYFit)




